@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Source+Code+Pro:ital@1&family=Titillium+Web:ital,wght@0,200;1,200&display=swap");

header {
  background: linear-gradient(
      rgba(67, 42, 255, 0.45),
      rgba(35, 112, 255, 0.45)
    ),
    url(../images/1515021_v1.jpg);
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}

#landing {
  background: linear-gradient(
    rgba(67, 42, 255, 0.45),
    rgba(35, 112, 255, 0.45)
    ),
    url(../images/1515021_v1.jpg);
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
  font-family: "Comfortaa", cursive;
  font-family: "Source Code Pro", monospace;
  font-family: "Titillium Web", sans-serif;
}

#btn{
    background-color: black;
    color: white;
    height: 20px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btnSearch{
    width: 200px !important;
    height: 40px !important;
}

#btn :hover {
    color: blue !important;
    background-color: blue;
}

.card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow-x: hidden;
}








#footer {
    background-color: rgb(51, 51, 212);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

